<div class="has-text-centered">
  <h1 class="title">Login to Makertrain</h1>
  <div>
    <%= link_to "Login with GitHub", "/auth/github", class: 'button is-primary is-outlined' %>
    <%= link_to "Login with ProductHunt", "/auth/producthunt", class: 'button is-primary is-outlined' %>
  </div>

  <br>

  <%= render partial: 'shared/form' %>
</div>
