<%= render 'shared/subnavigation' %>

<br>
<ul>
  <li>make a listbox with the user's products</li>
  <li>make a listbox to select the product's version_number</li>
  <li>display the version's tasks in a table</li>
  <li>provide a form to add new tasks</li>
</ul>
