<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Welcome back <%= @user.username %></h1>
      <p>Not sure yet what will be displayed on the home page of logged in users... Needs to be an aggregation of all the activity happening on Makertrain.</p>
    </div>
  </div>
</section>
