<div class="text-center">
  <%= link_to "Signup with GitHub", "/auth/github", class: 'button is-dark is-outlined' %>
  <%= link_to "Signup with ProductHunt", "/auth/producthunt", class: 'button is-dark is-outlined' %>
</div>
