<div class="text-center">
  <%= link_to "#{login_or_signup} with GitHub", "/auth/github", class: 'button is-dark is-outlined' %>
  <%= link_to "#{login_or_signup} with ProductHunt", "/auth/producthunt", class: 'button is-dark is-outlined' %>
</div>
