
<section class="container" id="contributions-section">

  <div class="columns">
    <div class="column is-half">
      <h4 class="subtitle">Contributors</h4>
    </div>
    <div class="column is-half">
      <h4 class="subtitle">Contributions</h4>
    </div>
  </div>
</section>
