
<div class="progress">

<% progress_hash(product.latest_version).each do |status,percent| %>
    <div
    class="progress-bar <%= progress_bar_class(status) %>" style="height: 1.5rem; width: <%="#{percent}%"%>"
    data-toggle="tooltip"
    data-placement="top"
    data-container="body"
    title="<%= progress_bar_popover_content(product.latest_version, status) %>">
      <%= "#{status.to_s.capitalize.humanize.titleize} (#{percent.to_i}%)" %>
    </div>
<% end %>
</div>

<script type="text/javascript">
  $(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<!--
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
    Free Space
  </div>
  <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">
    Warning
  </div>
  <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
    Danger
  </div>
</div> -->
