<section class="hero is-white ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All aboard the Maker Train
      </h1>
      <h2 class="subtitle">
        Makertrain helps busy freelancers become full-time makers
      </h2>
      <div class="field is-grouped">
        <p class="control">
          <a class="button" href="/auth/github">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Login</span>
          </a>
        </p>
        <p class="control">
          <a class="button" href="/auth/github">
            <span class="icon">
              <i class="fab fa-product-hunt"></i>
            </span>
            <span>Login</span>
          </a>
        </p>
      </div>
    </div>
  </div>

  <nav class="columns">
    <a class="column has-text-centered" href="#">
      <p class="title is-4">
        <strong>Build. Commit. Get paid.</strong>
      </p>
      <p class="subtitle is-6">Claim engineering, marketing and design contribution rewards</p>
    </a>

    <a class="column has-text-centered" href="#">
      <p class="title is-4">
        <strong>$USD and Equity Rewards</strong>
      </p>
      <p class="subtitle is-6">
        Seek out products and tasks with rewards you care most about
      </p>

    </a>

    <a class="column has-text-centered" href="#">
      <p class="title is-4">
        <strong>Build Up to <em>Full-Time Maker</em></strong>
      </p>
      <p class="subtitle is-6">
        Escape trading time for money through a product that supports you
      </p>
    </a>
  </nav>
</section>


<section class="hero-body is-white has-background-white">
  <div class="column">
    <h1 class="title has-text-centered">Discover products</h1>

  </div>
</section>
