
      <h1>
        All aboard the Maker Train
      </h1>
      <h2>
        Makertrain helps busy freelancers become full-time makers
      </h2>

      <%= link_to "Login with GitHub", "/auth/github" %><br>
      <%= link_to "Login with ProductHunt", "/auth/producthunt" %>

<ul>
  <li><strong>Build. Commit. Get paid.</strong>
    <p>Claim engineering, marketing and design contribution rewards</p>
  </li>
  <li><strong>$USD and Equity Rewards</strong>
    <p>Seek out products and tasks with rewards you care most about</p>
  </li>
  <li><strong>Build Up to <em>Full-Time Maker</em></strong>
    <p>Escape trading time for money through a product that supports you</p>
  </li>
</ul>

<h3>Discover products</h3>
Coming soon
