<section class="jumbotron text-center">
    <h1 class="jumbotron-heading is-size-2">Where busy freelancers become full-time makers</h1>
    <p class="lead text-muted">The micro-entrepreneurship platform where freelancers co-build and launch indie products.</p>
    <p>
      <%= link_to "Signup", signup_path, class: "btn btn-primary my-2" %>
      <%= link_to "Login", login_path, class: "btn btn-secondary my-2" %>
    </p>
</section>

<section class="row">
  <div class="col">
    <h2 class="lead text-muted"><strong>Build. Commit. Get paid.</strong></h2>
    <p>Claim engineering, marketing and design contribution rewards</p>
  </div>
  <div class="col">
    <h2 class="lead text-muted"><strong>$USD and Equity Rewards</strong></h2>
    <p>Seek out products and tasks with rewards you care most about</p>
  </div>
  <div class="col">
    <h2 class="lead text-muted"><strong>Build Up to <em>Full-Time Maker</em></strong></h2>
    <p>Escape trading time for money through a product that supports you</p>
  </div>
</section>
