<section class="section is-medium">
  <div class="container">
    <h1 class="is-size-2 has-text-centered"><strong>All aboard the Maker Train</strong></h1>
    <br>
    <div class="columns">
      <div class="column is-4
    is-offset-4 has-background-white rounded ">
        <div class="field is-grouped">
          <p class="control">
            <a class="button" href="/auth/github">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>Login</span>
            </a>
          </p>
          <p class="control">
            <a class="button" href="/auth/github">
              <span class="icon">
                <i class="fab fa-product-hunt"></i>
              </span>
              <span>Login</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
