
 @import "bootstrap";

 #id_indicator {
   margin-right: 170%;
 }

#dashboard_hero {
  border-radius: 7px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  line-height: 30px;
  background-color: #3273dc;
}
