
 @import "bootstrap";

 #id_indicator {
   margin-right: 170%;
 }

#dashboard_hero {
  border-radius: 7px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  line-height: 30px;
  background-color: #3273dc;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

.btn-circle i {
  position: relative;
  top: -1px;
}
