<aside class="menu">
  <p class="menu-label">
    Account
  </p>
  <ul class="menu-list">
    <li><a href="/settings" class="<%= "is-active" if current_url.include?("settings") %>">Profile</a></li>
  </ul>
  <p class="menu-label">
    My Products
  </p>
  <ul class="menu-list">
    <% if @user.products.empty? %>
      <li><a href="/new_product">Create a product</a></li>
    <% else %>
      <% @user.products.each do |product| %>
      <li><a class="<%= "is-active" if current_url.include?("#{product.slug}/edit") %>" href="/products/<%= product.slug %>/edit"><%= product.name %></a></li>
      <% end %>
    <% end %>
  </ul>
</aside>
